.inform-bloc-main-page {
  padding-top: 54px;
  margin-bottom: 54px;
  @include pageGredCard;
  @include startAdaptiveSmol {
    & {
      @include padMob;
    }
  }
  @include mobileWidth {
    padding-top: 26px;
  }

  &__wrp-inst {
    max-width: 894px;
    width: 100%;
    margin-right: 16px;
    @include boxCardProd;
    padding: 0;
    display: flex;
    justify-content: space-between;
    @include startAdaptiveSmol {
      & {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
    @include mobileWidth {
      flex-direction: column-reverse;
    }
  }

  &__recom-kit {
    max-width: 590px;
    width: 100%;
    height: 288px;
    margin-right: 16px;
    margin-bottom: 16px;
    @include boxCardProd;
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include startAdaptiveSmol {
      max-width: 894px;
      margin-right: 0;
    }

    @include bigMobileWidth {
      max-width: 100%;
    }

    @include mobileWidth {
      height: auto;
      flex-direction: column-reverse;
    }
  }

  &__link {
    @include mobileWidth {
      display: flex;
      justify-content: center;
    }
  }

  &__text-main {
    max-width: 250px;
    font-size: 24px;
    font-weight: 700;

    @include mobileWidth {
      max-width: 100%;
      padding-top: 16px;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &__text {
    max-width: 380px;
    font-size: 16px;
    line-height: 20px;
    @include mobileWidth {
      max-width: 100%;
      margin-bottom: 10px;
      @include fontSizeMob;
    }
  }

  &__wrp-text {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobileWidth {
      padding-top: 0;
    }
  }

  &__inst-btn {
    @include btnCardWhiteBackground;
    max-width: 116px;
  }

  &__inst-img {
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;

    @include mobileWidth {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 0;
    }
  }

  &__inst-img-wrp {
    width: 100%;
    height: 288px;
    display: flex;

    @include mobileWidth {
      height: 221px;
    }
  }

  &__product {
    display: flex;
    @include startAdaptiveSmol {
      & {
        max-width: 894px;
        width: 100%;
        justify-content: space-evenly;
      }
    }
    @include mobileWidth {
      flex-wrap: wrap;
    }
  }

  &__registrar {
    width: 288px;
    @include boxCardProd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include startAdaptiveSmol {
      & {
        width: 100%;
      }
    }

    & + & {
      margin-left: 16px;
    }

    @include mobileWidth {
      & + & {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

  &__wrp-top {
    margin-bottom: 16px;
    display: flex;
    @include startAdaptiveSmol {
      & {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__registrar-link {
    @include flexCentr;
    justify-content: flex-start;
    position: relative;
    color: $colorCard;
    font-size: 24px;
    @include startAdaptiveSmol {
      & {
        justify-content: center;
      }
    }
  }

  &__cam-link {
    @include flexCentr;
    justify-content: center;
    position: relative;
    color: $colorCard;
    font-size: 24px;
  }

  &__img-link {
    @include flexCentr;
  }

  &__registrar-btn {
    &:hover .inform-bloc-main-page__registrar-icon {
      right: 4px;
      transition: 0.2s ease-in;
    }

    &:hover .inform-bloc-main-page__cam-icon {
      right: -24px;
      transition: 0.2s ease-in;
    }

    @include startAdaptiveSmol {
      &:hover .inform-bloc-main-page__registrar-icon {
        right: -23px;
      }
    }
  }

  &__registrar-icon {
    position: absolute;
    right: -19px;
    top: 6px;
    transition: 0.2s ease-out;
    @include startAdaptiveSmol {
      & {
        right: -18px;
      }
    }
  }

  &__registrar-icon-wrp {
    position: relative;
  }

  &__cam-icon {
    position: absolute;
    right: -19px;
    top: 5px;
    transition: 0.2s ease-out;
  }

  &__new-opport-text-wrp {
    position: relative;
    color: #ffffff;
  }

  &__new-opport-text-wrp {
    padding: 16px 0 16px 16px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__new-opport {
    height: 288px;
    max-width: 913px;
    width: 100%;
    position: relative;
    display: flex;

    @include startAdaptiveSmol {
      max-width: 894px;
    }
  }

  &__wrp-bot {
    display: flex;

    @include startAdaptiveSmol {
      flex-direction: column;
      align-items: center;
    }
  }

  &__new-opport-img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__new-opport-title {
    max-width: 359px;
    font-size: 24px;

    @include mobileWidth {
      @include fontSizeMobTitle;
    }
  }

  &__new-opport-text {
    max-width: 482px;
    font-size: 16px;

    @include mobileWidth {
      max-width: 223px;
      @include fontSizeMob;
    }
  }

  &__btn {
    @include btnCardWhiteBackground;
    max-width: 113px;
  }
}

.news-main-page {
  margin-bottom: 36px;
  @include pageGredCard;

  @include startAdaptiveSmol {
    @include padMob;
  }

  @include mobileWidth {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 16px;
    @include textTitleMainPage;
  }

  &__type {
    @include newsType(#4490BB);
  }

  &__type-overview {
    @include newsType(#44BBA6);
  }

  &__typeNews {
    @include newsType(#55BB44);
  }


  &__wrp-pos-block {
    @include flexCentrSpaceBet;
    flex-wrap: wrap;

    @include startAdaptiveSmol {
      justify-content: space-around;
    }
  }

  &__cont-wrp {
    max-width: 488px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: $shadowMainPage;
    @include startAdaptiveSmol {
      margin-bottom: 16px;
    }

    @include bigMobileWidth {
      margin-bottom: 10px;
    }
  }

  &__title-link {
    margin-bottom: 16px;
    font-size: 24px;
    display: inline-block;

    @include mobileWidth {
      font-size: $fontSizeMobTitle;
    }
  }

  &__wrp-block-text {
    padding: 16px 10px;
  }

  &__text {
    min-height: 112px;
    margin-bottom: 24px;
    font-size: 16px;

    @include mobileWidth {
      font-size: $fontSizeMob;
    }
  }

  &__btn-wrp {
    @include flexCentrSpaceBet;
  }

  &__btn {
    @include btnCardWhiteBackground;
  }
}

.partner-main-page {
  margin-bottom: 36px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  @include bigMobileWidth {
    @include flexCentr;
    margin-bottom: 32px;
  }

  &__img {
    display: flex;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  &__text-wrp {
    padding-left: 86px;
    @include flexCentr;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @include startAdaptiveSmol {
      margin-right: 16px;
    }

    @include bigMobileWidth {
      padding-left: 16px;
    }
  }

  &__img-wrp {
    @include bigMobileWidth {
      display: none;
    }
  }

  &__img-back {
    position: absolute;
    bottom: 0;
    right: 0;

    @include bigMobileWidth {
      display: none;
    }
  }

  &__text {
    max-width: 546px;
    font-size: 18px;

    @include bigMobileWidth {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 39px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;

    @include mobileWidth {
      margin-bottom: 26px;
    }

    @include bigMobileWidth {
      @include cenMarg;
      text-align: center;
    }
  }
}

.cooperation-main-page {
  margin-bottom: 40px;
  @include pageGredCard;

  @include startAdaptiveSmol {
    @include padMob;
  }

  &__img-back {
    @include positionImg;
    width: 488px;
    height: 590px;
    border-radius: 8px;

    @include mobileWidth {
      width: 355px;
      height: 355px;
    }
  }

  &__title {
    margin-bottom: 36px;
    @include textTitleMainPage;
    text-align: center;

    @include mobileWidth {
      font-size: 30px;
    }
  }

  &__wrp-cont {
    position: relative;
    @include flexCentrSpaceBet;
    flex-wrap: wrap;

    @include startAdaptiveSmol {
      justify-content: space-evenly;
    }
  }

  &__btn {
    margin-bottom: 16px;
    @include btnCardBuy;
    max-width: 130px;
    position: relative;
  }

  &__wrp-box {
    max-width: 488px;
    width: 100%;
    height: 590px;
    @include flexCentr;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    @include startAdaptiveSmol {
      margin-bottom: 16px;
    }

    @include  mobileWidth {
      max-width: 355px;
      height: 355px;
    }
  }

  &__text {
    max-width: 326px;
    margin-bottom: 18px;
    position: relative;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
}