@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.range-main-page {
  text-align: center;
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #393d38;
  font-family: "Roboto", sans-serif;
}

.range-main-page__title-text {
  margin-bottom: 46px;
  font-size: 36px;
  font-weight: 700;
}

.range-main-page__wrp-cont {
  min-height: 423px;
  display: flex;
}

.range-main-page__num {
  margin-right: 25px;
  color: #8a8a8a;
  font-size: 18px;
}

.range-main-page__line {
  width: 100%;
  height: 2px;
  background-color: #009b3e;
}

.range-main-page__wrp-text {
  max-width: 586px;
}

.range-main-page__img-wrp {
  margin-right: 44px;
}

.range-main-page__text-cont {
  padding-top: 10px;
  text-align: left;
}

.range-main-page__style-text-title {
  font-size: 24px;
  font-weight: 600;
  color: #393d38;
  text-align: left;
  cursor: pointer;
  z-index: 10;
}

.range-main-page__style-text {
  height: 0;
  margin-top: 10px;
  padding-left: 46px;
  font-size: 16px;
  line-height: 19px;
  opacity: 0;
  transition: 0.3s ease-out;
  z-index: 2;
}

.range-main-page__btn {
  margin-bottom: 10px;
  padding-top: 10px;
  color: #009b3e;
  font-size: 16px;
  text-decoration: underline;
}

.range-main-page__btn:hover {
  color: #287231;
}

.range-main-page__line-grey {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.range-main-page__title-text-wrp {
  display: flex;
  align-items: center;
}

.range-main-page__img-opasi {
  display: none;
}

.activeRangeImg {
  max-width: 654px;
  display: flex;
}

.activeRange {
  opacity: 1;
  height: 94px;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.advantage-main-page {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #393d38;
  font-family: "Roboto", sans-serif;
}

.advantage-main-page__nav {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  color: #8a8a8a;
  white-space: nowrap;
  overflow-x: auto;
  cursor: pointer;
}

.advantage-main-page__title {
  margin-bottom: 32px;
  font-size: 36px;
  text-align: center;
}

.advantage-main-page__nav-wrp {
  max-width: 766px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.advantage-main-page__line {
  max-width: 766px;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #c4c4c4;
  z-index: 2;
}

.advantage-main-page__nav-list {
  padding-bottom: 10px;
  position: relative;
  transition: 0.3s ease-out;
}

.advantage-main-page__nav-list:hover {
  color: #393d38;
  transition: 0.3s ease-in;
}

.advantage-main-page__nav-list:hover .advanAcrion {
  opacity: 1;
  transition: 0.3s ease-in;
}

.advantage-main-page__nav-list + .advantage-main-page__nav-list {
  margin-left: 15px;
}

.advantage-main-page__slider-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 897px;
  overflow: hidden;
}

.advantage-main-page__slider-btn {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: inherit;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
}

.advantage-main-page__tetx {
  max-width: 966px;
  text-align: center;
}

.advantage-main-page__img-wrp {
  max-width: 966px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.advantage-main-page__img {
  max-width: 966px;
}

.advantage-main-page__circles {
  width: 12px;
  height: 12px;
  border: 1px solid #009b3e;
  border-radius: 50%;
  cursor: pointer;
}

.advantage-main-page__circles + .advantage-main-page__circles {
  margin-left: 10px;
}

.advantage-main-page__circles-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-main-page__slider-cont-wrp {
  max-width: 966px;
  overflow: hidden;
  margin: 0 auto;
}

.advantage-main-page__slider-pos {
  display: flex;
}

.advantage-main-page__slider-img-btn-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantage-main-page__slider-motion {
  display: flex;
}

.advanAcrion {
  position: absolute;
  width: 100%;
  height: 2px;
  top: -12px;
  left: 0;
  opacity: 0;
  background-color: #009b3e;
  transition: 0.3s ease-out;
  z-index: 10;
}

.inform-bloc-main-page {
  padding-top: 54px;
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #393d38;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.inform-bloc-main-page__wrp-inst {
  max-width: 894px;
  width: 100%;
  margin-right: 16px;
  padding: 16px 16px;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__wrp-inst {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.inform-bloc-main-page__recom-kit {
  max-width: 590px;
  width: 100%;
  margin-right: 16px;
  padding: 16px 16px;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.inform-bloc-main-page__text-main {
  max-width: 250px;
  font-size: 24px;
  font-weight: 700;
}

.inform-bloc-main-page__text {
  max-width: 380px;
  font-size: 16px;
  line-height: 20px;
}

.inform-bloc-main-page__wrp-text {
  padding: 16px 0 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inform-bloc-main-page__inst-btn {
  padding: 8px 16px;
  color: #009b3e;
  border: 1px solid #009b3e;
  border-radius: 6px;
  font-size: 16px;
  max-width: 116px;
}

.inform-bloc-main-page__inst-img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.inform-bloc-main-page__product {
  display: flex;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__product {
    max-width: 894px;
    width: 100%;
    justify-content: space-evenly;
  }
}

.inform-bloc-main-page__registrar {
  width: 288px;
  padding: 16px 16px;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__registrar {
    width: 100%;
  }
}

.inform-bloc-main-page__wrp-top {
  margin-bottom: 16px;
  display: flex;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__wrp-top {
    flex-direction: column;
    align-items: center;
  }
}

.inform-bloc-main-page__registrar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
  color: #009b3e;
  font-size: 24px;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__registrar-link {
    justify-content: center;
  }
}

.inform-bloc-main-page__cam-link {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  position: relative;
  color: #009b3e;
  font-size: 24px;
}

.inform-bloc-main-page__img-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inform-bloc-main-page__registrar-btn:hover .inform-bloc-main-page__registrar-icon {
  right: 4px;
  transition: 0.2s ease-in;
}

.inform-bloc-main-page__registrar-btn:hover .inform-bloc-main-page__cam-icon {
  right: -24px;
  transition: 0.2s ease-in;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__registrar-btn:hover .inform-bloc-main-page__registrar-icon {
    right: -23px;
  }
}

.inform-bloc-main-page__registrar-icon {
  position: absolute;
  right: 9px;
  top: 6px;
  transition: 0.2s ease-out;
}

@media (max-width: 1516px) {
  .inform-bloc-main-page__registrar-icon {
    right: -18px;
  }
}

.inform-bloc-main-page__registrar + .inform-bloc-main-page__registrar {
  margin-left: 16px;
}

.inform-bloc-main-page__registrar-icon-wrp {
  position: relative;
}

.inform-bloc-main-page__cam-icon {
  position: absolute;
  right: -19px;
  top: 5px;
  transition: 0.2s ease-out;
}

.inform-bloc-main-page__new-opport-text-wrp {
  position: relative;
  color: #ffffff;
}

.inform-bloc-main-page__new-opport-text-wrp {
  padding: 16px 0 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inform-bloc-main-page__new-opport {
  height: 288px;
  max-width: 913px;
  width: 100%;
  position: relative;
  display: flex;
}

.inform-bloc-main-page__wrp-bot {
  display: flex;
}

.inform-bloc-main-page__new-opport-img {
  width: 100%;
}

.inform-bloc-main-page__new-opport-title {
  max-width: 359px;
  font-size: 24px;
}

.inform-bloc-main-page__new-opport-text {
  max-width: 482px;
  font-style: 16px;
}

.inform-bloc-main-page__btn {
  padding: 8px 16px;
  color: #009b3e;
  border: 1px solid #009b3e;
  border-radius: 6px;
  font-size: 16px;
  max-width: 113px;
}

.wrp-main-page {
  font-family: "Roboto", sans-serif;
}
